.header {
    background-color: $brown-light;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;

    &-content {
        max-width: 1600px;
        margin: 0 auto;
        padding: 0 15px;
        display: flex;
        justify-content: space-between;

        @include media(1350) {
            max-width: 1220px;
        }

        .top-header {
            padding: 9px 0;
            display: grid;
            grid-template-columns: repeat(3, min-content);
            gap: 10px;
            justify-content: end;

            img {
                margin-left: 12px;
            }
        }
    }
}
