.header {
    background-color: $brown-light;
    position: relative;
}
.header-content {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 15px;
    @media (max-width: 1350px) {
        max-width: 1220px;
    }

    .top-header {
        padding: 9px 0;

        img {
            margin-left: 12px;
        }
    }
}