* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    @include media(600) {
        cursor: default;
        outline: none;
    }
}

body {
    font-family: $font-regular;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
}

.w-220 {
    width: 220px;
}

.title-h1 {
    font: 53px/64px $font-regular-2;
    color: $brown-light;
    text-transform: capitalize;

    &:lang(hy),
    &:lang(ru) {
        font: 36px/50px $font-regular-2;
        @media (max-width: 575px) {
            font: 33px/35px $font-regular-2;
        }
    }

    @media (max-width: 575px) {
        font: 33px/35px $font-regular-2;
    }
}


.title-h2 {
    font: 35px/37px $font-regular-2;
    color: $brown-light;
    text-transform: capitalize;
    @media (max-width: 575px) {
        font: 23px/25px $font-regular-2;
    }
}
