@font-face {
    font-family: "Helvetica Neue Regular";
    src: url("Helvetica Neue Regular.eot");
    src: url("Helvetica Neue Regular.eot?#iefix") format("embedded-opentype"),
        url("Helvetica Neue Regular.woff2") format("woff2"), url("Helvetica Neue Regular.woff") format("woff"),
        url("Helvetica Neue Regular.ttf") format("truetype"), url("Helvetica Neue Regular.svg") format("svg");
    font-display: swap;
}
