@font-face {
    font-family: "EngraversGothic BT";
    src: url("EngraversGothic BT.eot");
    src: url("EngraversGothic BT.eot?#iefix") format("embedded-opentype"),
        url("EngraversGothic BT.woff2") format("woff2"), url("EngraversGothic BT.woff") format("woff"),
        url("EngraversGothic BT.ttf") format("truetype"), url("EngraversGothic BT.svg") format("svg");
    font-display: swap;
}
